// FiberServerOptions provides options for the Fiber server.
type FiberServerOptions struct {
    BaseURL string
    GetQBaseInternalID func(ctx *fiber.Ctx, qbID string) (string, error)
}

// RegisterHandlers creates http.Handler with routing matching OpenAPI spec.
func RegisterHandlers(router fiber.Router, si ServerInterface) fiber.Router {
  return RegisterHandlersWithOptions(router, si, FiberServerOptions{})
}

// RegisterHandlersWithOptions creates http.Handler with additional options
func RegisterHandlersWithOptions(router fiber.Router, si ServerInterface, options FiberServerOptions) fiber.Router {
    {{if .}}

    wrapper := ServerInterfaceWrapper{
        Handler: si,
        GetQBaseInternalID: options.GetQBaseInternalID,
    }
    {{end}}
    {{range .}}
    router.{{ .Method | title }}(options.BaseURL+"{{.Path | swaggerUriToGinUri }}", wrapper.{{.OperationId}})
    {{end}}
    return router
}
